@model IEnumerable<UmbracoAssignment.CustomDatabase.Entities.Employees>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Master.cshtml";
}

<h2>List</h2>
<a href="/add" class="btn btn-primary"> Add</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Employee Name</th>
            <th scope="col">DoB</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Name</td>
                <td>@item.DoB</td>
                <td>@item.DepartmentName</td>
            </tr>
        }
    </tbody>
</table>

